<Html>
    <head>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <title>
        Новая программа
        </title>

    </head>

    <body>
    <h2>Новая программа</h2>
       

    <div class="container">
        <main role="main" class="pb-3">
             @* @RenderBody()  *@
             Текст программы 
        </main>
    </div>
    </body>
</Html>